<div class="row job">
  <div class="row">
    <div class="col-sm job-class">
      <%= job.job_class %>
    </div>
    <div class="col-sm">
      <%= job.job_id %>
    </div>
    <div class="col-sm">
      <%= job.provider_job_id %>
    </div>
    <div class="col-sm">
      <%= job.priority %>
    </div>
    <div class="col-sm">
      <%= job.arguments %>
    </div>
    <div class="col-sm">
      <%= job.executions %>
    </div>
    <div class="col-sm">
      <%= job.exception_executions %>
    </div>
    <div class="col-sm">
      <%= job.enqueued_at %>
    </div>
  </div>
</div>
